In [43]:
%pip install pandas

import pandas as pd
import json
import os

Requirement already satisfied: pandas in c:\users\karthikeyan\appdata\local\programs\python\python313\lib\site-packages (2.3.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\karthikeyan\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.3.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\karthikeyan\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\karthikeyan\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\karthikeyan\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\karthikeyan\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [44]:
%pip install gitpython

import os

# Set the git executable environment variable before importing git
os.environ["GIT_PYTHON_GIT_EXECUTABLE"] = r"C:\Program Files\Git\bin\git.exe"

import git

# Refresh gitpython to use the specified git executable
git.refresh()

repo_url = "https://github.com/PhonePe/pulse.git"
destination_path = r"C:/Ganapathy/Capstone-Project/data"
git.Repo.clone_from(repo_url, destination_path)
print("Repository cloned successfully.")

Requirement already satisfied: gitpython in c:\users\karthikeyan\appdata\local\programs\python\python313\lib\site-packages (3.1.45)
Requirement already satisfied: gitdb<5,>=4.0.1 in c:\users\karthikeyan\appdata\local\programs\python\python313\lib\site-packages (from gitpython) (4.0.12)
Requirement already satisfied: smmap<6,>=3.0.1 in c:\users\karthikeyan\appdata\local\programs\python\python313\lib\site-packages (from gitdb<5,>=4.0.1->gitpython) (5.0.2)
Note: you may need to restart the kernel to use updated packages.

GitCommandError: Cmd('C:\Program Files\Git\bin\git.exe') failed due to: exit code(128)
  cmdline: C:\Program Files\Git\bin\git.exe clone -v -- https://github.com/PhonePe/pulse.git C:/Ganapathy/Capstone-Project/data
  stderr: 'fatal: destination path 'C:/Ganapathy/Capstone-Project/data' already exists and is not an empty directory.
'

In [45]:
import git

In [ ]:
repo_url = "https://github.com/PhonePe/pulse.git"
destination_path = r"F:/Datascience Projects/Capstone Project/data"
git.Repo.clone_from(repo_url, destination_path)
print("Repository cloned successfully.")

In [46]:
import pandas as pd
import json
import os

In [47]:
path="C:/Ganapathy/Capstone-Project/data/data/aggregated/transaction/country/india/state"
Agg_state_list= os.listdir(path)
Agg_state_list

['andaman-&-nicobar-islands',
 'andhra-pradesh',
 'arunachal-pradesh',
 'assam',
 'bihar',
 'chandigarh',
 'chhattisgarh',
 'dadra-&-nagar-haveli-&-daman-&-diu',
 'delhi',
 'goa',
 'gujarat',
 'haryana',
 'himachal-pradesh',
 'jammu-&-kashmir',
 'jharkhand',
 'karnataka',
 'kerala',
 'ladakh',
 'lakshadweep',
 'madhya-pradesh',
 'maharashtra',
 'manipur',
 'meghalaya',
 'mizoram',
 'nagaland',
 'odisha',
 'puducherry',
 'punjab',
 'rajasthan',
 'sikkim',
 'tamil-nadu',
 'telangana',
 'tripura',
 'uttar-pradesh',
 'uttarakhand',
 'west-bengal']

In [48]:
clm={'State':[], 'Year':[],'Quarter':[],'Transacion_type':[], 'Transacion_count':[], 'Transacion_amount':[]}

for i in Agg_state_list:
    p_i = os.path.join(path, i) + "/"
    Agg_yr = os.listdir(p_i)
    for j in Agg_yr:
        p_j=p_i+j+"/"
        Agg_yr_list=os.listdir(p_j)
        for k in Agg_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            D=json.load(Data)
            for z in D['data']['transactionData']:
              Name=z['name']
              count=z['paymentInstruments'][0]['count']
              amount=z['paymentInstruments'][0]['amount']
              clm['Transacion_type'].append(Name)
              clm['Transacion_count'].append(count)
              clm['Transacion_amount'].append(amount)
              clm['State'].append(i)
              clm['Year'].append(j)
              clm['Quarter'].append(int(k.strip('.json')))
#Succesfully created a dataframe
Agg_Trans=pd.DataFrame(clm)
Agg_Trans

,State,Year,Quarter,Transacion_type,Transacion_count,Transacion_amount
0,andaman-&-nicobar-islands,2018,1,Recharge & bill payments,4200,1.845307e+06
1,andaman-&-nicobar-islands,2018,1,Peer-to-peer payments,1871,1.213866e+07
2,andaman-&-nicobar-islands,2018,1,Merchant payments,298,4.525072e+05
3,andaman-&-nicobar-islands,2018,1,Financial Services,33,1.060142e+04
4,andaman-&-nicobar-islands,2018,1,Others,256,1.846899e+05
...,...,...,...,...,...,...
5029,west-bengal,2024,4,Merchant payments,655100809,3.892862e+11
5030,west-bengal,2024,4,Peer-to-peer payments,493217788,1.361927e+12
5031,west-bengal,2024,4,Recharge & bill payments,76043195,5.753406e+10
5032,west-bengal,2024,4,Financial Services,2352084,8.472965e+08
5033,west-bengal,2024,4,Others,421806,5.053641e+08

In [49]:
path="C:/Ganapathy/Capstone-Project/data/data/aggregated/user/country/india/state"
Agg_user_list= os.listdir(path)
Agg_user_list

['andaman-&-nicobar-islands',
 'andhra-pradesh',
 'arunachal-pradesh',
 'assam',
 'bihar',
 'chandigarh',
 'chhattisgarh',
 'dadra-&-nagar-haveli-&-daman-&-diu',
 'delhi',
 'goa',
 'gujarat',
 'haryana',
 'himachal-pradesh',
 'jammu-&-kashmir',
 'jharkhand',
 'karnataka',
 'kerala',
 'ladakh',
 'lakshadweep',
 'madhya-pradesh',
 'maharashtra',
 'manipur',
 'meghalaya',
 'mizoram',
 'nagaland',
 'odisha',
 'puducherry',
 'punjab',
 'rajasthan',
 'sikkim',
 'tamil-nadu',
 'telangana',
 'tripura',
 'uttar-pradesh',
 'uttarakhand',
 'west-bengal']

In [50]:
clm_user = {
    'State': [],
    'Year': [],
    'Quarter': [],
    'Device_Brand': [],
    'User_Count': [],
    'User_Percentage': [],
    'Total_Registered_Users': [],
    'App_Opens': []
}

for i in Agg_user_list:
    p_i = os.path.join(path, i) + "/"
    Agg_yr = os.listdir(p_i)
    for j in Agg_yr:
        p_j = p_i + j + "/"
        Agg_yr_list = os.listdir(p_j)
        for k in Agg_yr_list:
            p_k = p_j + k
            Data = open(p_k, 'r')
            D = json.load(Data)
            try:
                total_users = D['data']['aggregated']['registeredUsers']
                app_opens = D['data']['aggregated']['appOpens']
                for z in D['data']['usersByDevice']:
                    brand = z['brand']
                    count = z['count']
                    percentage = z['percentage']
                    
                    clm_user['Device_Brand'].append(brand)
                    clm_user['User_Count'].append(count)
                    clm_user['User_Percentage'].append(percentage)
                    clm_user['Total_Registered_Users'].append(total_users)
                    clm_user['App_Opens'].append(app_opens)
                    clm_user['State'].append(i)
                    clm_user['Year'].append(j)
                    clm_user['Quarter'].append(int(k.strip('.json')))
            except:
                continue

# Create DataFrame
User_Device_df = pd.DataFrame(clm_user)
User_Device_df

,State,Year,Quarter,Device_Brand,User_Count,User_Percentage,Total_Registered_Users,App_Opens
0,andaman-&-nicobar-islands,2018,1,Xiaomi,1665,0.247033,6740,0
1,andaman-&-nicobar-islands,2018,1,Samsung,1445,0.214392,6740,0
2,andaman-&-nicobar-islands,2018,1,Vivo,982,0.145697,6740,0
3,andaman-&-nicobar-islands,2018,1,Oppo,501,0.074332,6740,0
4,andaman-&-nicobar-islands,2018,1,OnePlus,332,0.049258,6740,0
...,...,...,...,...,...,...,...,...
6727,west-bengal,2022,1,Lenovo,330017,0.015056,21919787,236131065
6728,west-bengal,2022,1,Infinix,284678,0.012987,21919787,236131065
6729,west-bengal,2022,1,Asus,280347,0.012790,21919787,236131065
6730,west-bengal,2022,1,Apple,277752,0.012671,21919787,236131065
6731,west-bengal,2022,1,Others,2196334,0.100199,21919787,236131065

In [ ]:
Agg_Trans

In [ ]:
User_Device_df

In [51]:
path="C:/Ganapathy/Capstone-Project/data/data/aggregated/insurance/country/india/state"
Agg_insurance_list= os.listdir(path)
Agg_insurance_list

['andaman-&-nicobar-islands',
 'andhra-pradesh',
 'arunachal-pradesh',
 'assam',
 'bihar',
 'chandigarh',
 'chhattisgarh',
 'dadra-&-nagar-haveli-&-daman-&-diu',
 'delhi',
 'goa',
 'gujarat',
 'haryana',
 'himachal-pradesh',
 'jammu-&-kashmir',
 'jharkhand',
 'karnataka',
 'kerala',
 'ladakh',
 'lakshadweep',
 'madhya-pradesh',
 'maharashtra',
 'manipur',
 'meghalaya',
 'mizoram',
 'nagaland',
 'odisha',
 'puducherry',
 'punjab',
 'rajasthan',
 'sikkim',
 'tamil-nadu',
 'telangana',
 'tripura',
 'uttar-pradesh',
 'uttarakhand',
 'west-bengal']

In [52]:


clm_transaction = {
    'State': [],
    'Year': [],
    'Quarter': [],
    'Transaction_Name': [],
    'Transaction_Type': [],
    'Transaction_Count': [],
    'Transaction_Amount': [],
    'From_Date': [],
    'To_Date': []
}

for i in Agg_user_list:
    p_i = os.path.join(path, i) + "/"
    Agg_yr = os.listdir(p_i)
    for j in Agg_yr:
        p_j = os.path.join(p_i, j) + "/"
        Agg_yr_list = os.listdir(p_j)
        for k in Agg_yr_list:
            p_k = os.path.join(p_j, k)
            try:
                with open(p_k, 'r') as Data:
                    D = json.load(Data)

                from_date = D['data']['from']
                to_date = D['data']['to']

                for tx in D['data']['transactionData']:
                    tx_name = tx['name']
                    for pi in tx['paymentInstruments']:
                        tx_type = pi['type']
                        tx_count = pi['count']
                        tx_amount = pi['amount']

                        clm_transaction['State'].append(i)
                        clm_transaction['Year'].append(j)
                        clm_transaction['Quarter'].append(int(k.strip('.json')))
                        clm_transaction['Transaction_Name'].append(tx_name)
                        clm_transaction['Transaction_Type'].append(tx_type)
                        clm_transaction['Transaction_Count'].append(tx_count)
                        clm_transaction['Transaction_Amount'].append(tx_amount)
                        clm_transaction['From_Date'].append(from_date)
                        clm_transaction['To_Date'].append(to_date)

            except:
                continue

# Create DataFrame
Transaction_df = pd.DataFrame(clm_transaction)
Transaction_df

,State,Year,Quarter,Transaction_Name,Transaction_Type,Transaction_Count,Transaction_Amount,From_Date,To_Date
0,andaman-&-nicobar-islands,2020,2,Insurance,TOTAL,6,1360.0,1585679400000,1593282600000
1,andaman-&-nicobar-islands,2020,3,Insurance,TOTAL,41,15380.0,1593541800000,1601231400000
2,andaman-&-nicobar-islands,2020,4,Insurance,TOTAL,124,157975.0,1601490600000,1609093800000
3,andaman-&-nicobar-islands,2021,1,Insurance,TOTAL,225,244266.0,1609439400000,1616869800000
4,andaman-&-nicobar-islands,2021,2,Insurance,TOTAL,137,181504.0,1617215400000,1624818600000
...,...,...,...,...,...,...,...,...,...
677,west-bengal,2023,4,Insurance,TOTAL,72712,100365562.0,1696098600000,1703701800000
678,west-bengal,2024,1,Insurance,TOTAL,79576,104987909.0,1704047400000,1711564200000
679,west-bengal,2024,2,Insurance,TOTAL,67048,89476633.0,1711909800000,1719513000000
680,west-bengal,2024,3,Insurance,TOTAL,77158,107451766.0,1719792000000,1727481600000
681,west-bengal,2024,4,Insurance,TOTAL,91719,120602777.0,1727740800000,1735344000000

In [53]:
path="C:/Ganapathy/Capstone-Project/data/data/map/transaction/hover/country/india/state"
Map_Transaction_list= os.listdir(path)
Map_Transaction_list

['andaman-&-nicobar-islands',
 'andhra-pradesh',
 'arunachal-pradesh',
 'assam',
 'bihar',
 'chandigarh',
 'chhattisgarh',
 'dadra-&-nagar-haveli-&-daman-&-diu',
 'delhi',
 'goa',
 'gujarat',
 'haryana',
 'himachal-pradesh',
 'jammu-&-kashmir',
 'jharkhand',
 'karnataka',
 'kerala',
 'ladakh',
 'lakshadweep',
 'madhya-pradesh',
 'maharashtra',
 'manipur',
 'meghalaya',
 'mizoram',
 'nagaland',
 'odisha',
 'puducherry',
 'punjab',
 'rajasthan',
 'sikkim',
 'tamil-nadu',
 'telangana',
 'tripura',
 'uttar-pradesh',
 'uttarakhand',
 'west-bengal']

In [54]:


clm_summary = {
    'State': [],
    'Year': [],
    'Quarter': [],
    'Transaction_Type': [],
    'Transaction_Count': [],
    'Transaction_Amount': []
}

for i in Agg_user_list:
    p_i = os.path.join(path, i) + "/"
    Agg_yr = os.listdir(p_i)
    for j in Agg_yr:
        p_j = os.path.join(p_i, j) + "/"
        Agg_yr_list = os.listdir(p_j)
        for k in Agg_yr_list:
            p_k = os.path.join(p_j, k)
            try:
                with open(p_k, 'r') as Data:
                    D = json.load(Data)

                for entry in D['data']['hoverDataList']:
                    state_name = entry['name']
                    for metric in entry['metric']:
                        tx_type = metric['type']
                        tx_count = metric['count']
                        tx_amount = metric['amount']

                        clm_summary['State'].append(state_name.title())  # Title case for consistency
                        clm_summary['Year'].append(j)
                        clm_summary['Quarter'].append(int(k.strip('.json')))
                        clm_summary['Transaction_Type'].append(tx_type)
                        clm_summary['Transaction_Count'].append(tx_count)
                        clm_summary['Transaction_Amount'].append(tx_amount)

            except:
                continue

# Create DataFrame
State_Transactions_df = pd.DataFrame(clm_summary)
State_Transactions_df

,State,Year,Quarter,Transaction_Type,Transaction_Count,Transaction_Amount
0,North And Middle Andaman District,2018,1,TOTAL,442,9.316631e+05
1,South Andaman District,2018,1,TOTAL,5688,1.256025e+07
2,Nicobars District,2018,1,TOTAL,528,1.139849e+06
3,North And Middle Andaman District,2018,2,TOTAL,825,1.317863e+06
4,South Andaman District,2018,2,TOTAL,9395,2.394824e+07
...,...,...,...,...,...,...
20599,Alipurduar District,2024,4,TOTAL,15875637,2.099251e+10
20600,Paschim Bardhaman District,2024,4,TOTAL,56616799,6.968735e+10
20601,Nadia District,2024,4,TOTAL,65274337,1.079320e+11
20602,Birbhum District,2024,4,TOTAL,36905213,5.778701e+10
20603,Purba Medinipur District,2024,4,TOTAL,67833775,1.142771e+11

In [55]:
path="C:/Ganapathy/Capstone-Project/data/data/map/user/hover/country/india/state"
Map_User_list= os.listdir(path)
Map_User_list

['andaman-&-nicobar-islands',
 'andhra-pradesh',
 'arunachal-pradesh',
 'assam',
 'bihar',
 'chandigarh',
 'chhattisgarh',
 'dadra-&-nagar-haveli-&-daman-&-diu',
 'delhi',
 'goa',
 'gujarat',
 'haryana',
 'himachal-pradesh',
 'jammu-&-kashmir',
 'jharkhand',
 'karnataka',
 'kerala',
 'ladakh',
 'lakshadweep',
 'madhya-pradesh',
 'maharashtra',
 'manipur',
 'meghalaya',
 'mizoram',
 'nagaland',
 'odisha',
 'puducherry',
 'punjab',
 'rajasthan',
 'sikkim',
 'tamil-nadu',
 'telangana',
 'tripura',
 'uttar-pradesh',
 'uttarakhand',
 'west-bengal']

In [56]:


clm_hover_user = {
    'State': [],
    'Year': [],
    'Quarter': [],
    'Registered_Users': [],
    'App_Opens': []
}

for i in Agg_user_list:
    p_i = os.path.join(path, i) + "/"
    Agg_yr = os.listdir(p_i)
    for j in Agg_yr:
        p_j = os.path.join(p_i, j) + "/"
        Agg_yr_list = os.listdir(p_j)
        for k in Agg_yr_list:
            p_k = os.path.join(p_j, k)
            try:
                with open(p_k, 'r') as Data:
                    D = json.load(Data)

                hover_data = D['data']['hoverData']

                for state, metrics in hover_data.items():
                    clm_hover_user['State'].append(state.title())
                    clm_hover_user['Year'].append(j)
                    clm_hover_user['Quarter'].append(int(k.strip('.json')))
                    clm_hover_user['Registered_Users'].append(metrics.get('registeredUsers', 0))
                    clm_hover_user['App_Opens'].append(metrics.get('appOpens', 0))

            except:
                continue

# Create DataFrame
Hover_User_df = pd.DataFrame(clm_hover_user)
Hover_User_df

,State,Year,Quarter,Registered_Users,App_Opens
0,North And Middle Andaman District,2018,1,632,0
1,South Andaman District,2018,1,5846,0
2,Nicobars District,2018,1,262,0
3,North And Middle Andaman District,2018,2,911,0
4,South Andaman District,2018,2,8143,0
...,...,...,...,...,...
20603,Alipurduar District,2024,4,475688,31842355
20604,Paschim Bardhaman District,2024,4,1468252,80543469
20605,Nadia District,2024,4,1861738,98740305
20606,Birbhum District,2024,4,1114220,73465525
20607,Purba Medinipur District,2024,4,1717074,108350777

In [57]:
path="C:/Ganapathy/Capstone-Project/data/data/map/insurance/hover/country/india/state"
Map_ins_hover_list= os.listdir(path)
Map_ins_hover_list

['andaman-&-nicobar-islands',
 'andhra-pradesh',
 'arunachal-pradesh',
 'assam',
 'bihar',
 'chandigarh',
 'chhattisgarh',
 'dadra-&-nagar-haveli-&-daman-&-diu',
 'delhi',
 'goa',
 'gujarat',
 'haryana',
 'himachal-pradesh',
 'jammu-&-kashmir',
 'jharkhand',
 'karnataka',
 'kerala',
 'ladakh',
 'lakshadweep',
 'madhya-pradesh',
 'maharashtra',
 'manipur',
 'meghalaya',
 'mizoram',
 'nagaland',
 'odisha',
 'puducherry',
 'punjab',
 'rajasthan',
 'sikkim',
 'tamil-nadu',
 'telangana',
 'tripura',
 'uttar-pradesh',
 'uttarakhand',
 'west-bengal']

In [58]:


clm_insurance = {
    'State': [],
    'Year': [],
    'Quarter': [],
    'Transaction_Type': [],
    'Transaction_Count': [],
    'Transaction_Amount': []
}

for i in Agg_user_list:
    p_i = os.path.join(path, i) + "/"
    Agg_yr = os.listdir(p_i)
    for j in Agg_yr:
        p_j = os.path.join(p_i, j) + "/"
        Agg_yr_list = os.listdir(p_j)
        for k in Agg_yr_list:
            p_k = os.path.join(p_j, k)
            try:
                with open(p_k, 'r') as Data:
                    D = json.load(Data)

                for entry in D['data']['hoverDataList']:
                    state_name = entry['name']
                    for metric in entry['metric']:
                        tx_type = metric['type']
                        tx_count = metric['count']
                        tx_amount = metric['amount']

                        clm_insurance['State'].append(state_name.title())
                        clm_insurance['Year'].append(j)
                        clm_insurance['Quarter'].append(int(k.strip('.json')))
                        clm_insurance['Transaction_Type'].append(tx_type)
                        clm_insurance['Transaction_Count'].append(tx_count)
                        clm_insurance['Transaction_Amount'].append(tx_amount)

            except:
                continue

# Create DataFrame
Insurance_Transactions_df = pd.DataFrame(clm_insurance)
Insurance_Transactions_df

,State,Year,Quarter,Transaction_Type,Transaction_Count,Transaction_Amount
0,South Andaman District,2020,2,TOTAL,3,795.0
1,Nicobars District,2020,2,TOTAL,3,565.0
2,North And Middle Andaman District,2020,3,TOTAL,1,281.0
3,South Andaman District,2020,3,TOTAL,35,13651.0
4,Nicobars District,2020,3,TOTAL,5,1448.0
...,...,...,...,...,...,...
13871,Alipurduar District,2024,4,TOTAL,1023,1613143.0
13872,Paschim Bardhaman District,2024,4,TOTAL,4945,7005851.0
13873,Nadia District,2024,4,TOTAL,3807,5031294.0
13874,Birbhum District,2024,4,TOTAL,1818,2423290.0
13875,Purba Medinipur District,2024,4,TOTAL,3559,4439061.0

In [59]:
path="C:/Ganapathy/Capstone-Project/data/data/top/user/country/india/state"
Top_user_list= os.listdir(path)
Top_user_list

['andaman-&-nicobar-islands',
 'andhra-pradesh',
 'arunachal-pradesh',
 'assam',
 'bihar',
 'chandigarh',
 'chhattisgarh',
 'dadra-&-nagar-haveli-&-daman-&-diu',
 'delhi',
 'goa',
 'gujarat',
 'haryana',
 'himachal-pradesh',
 'jammu-&-kashmir',
 'jharkhand',
 'karnataka',
 'kerala',
 'ladakh',
 'lakshadweep',
 'madhya-pradesh',
 'maharashtra',
 'manipur',
 'meghalaya',
 'mizoram',
 'nagaland',
 'odisha',
 'puducherry',
 'punjab',
 'rajasthan',
 'sikkim',
 'tamil-nadu',
 'telangana',
 'tripura',
 'uttar-pradesh',
 'uttarakhand',
 'west-bengal']

In [60]:
clm = {
    'State': [],
    'Year': [],
    'Quarter': [],
    'Level': [],          # 'State', 'District', or 'Pincode'
    'Entity_Name': [],    # name of state/district/pincode
    'Registered_Users': []
}

for i in Top_user_list:
    p_i = os.path.join(path, i) + "/"
    Top_yr = os.listdir(p_i)
    for j in Top_yr:
        p_j = p_i + j + "/"
        Top_yr_list = os.listdir(p_j)
        for k in Top_yr_list:
            p_k = p_j + k
            with open(p_k, 'r') as d:
                Data = json.load(d)
                for level in ['states', 'districts', 'pincodes']:
                    entries = Data['data'].get(level, [])
                    if entries is not None:
                        for entry in entries:
                            clm['Level'].append(level[:-1].title())  # State, District, Pincode
                            clm['Entity_Name'].append(entry.get('name', '').title())
                            clm['Registered_Users'].append(entry.get('registeredUsers', 0))
                            clm['State'].append(i)
                            clm['Year'].append(j)
                            clm['Quarter'].append(int(k.strip('.json')))

Top_User_df = pd.DataFrame(clm)
Top_User_df

,State,Year,Quarter,Level,Entity_Name,Registered_Users
0,andaman-&-nicobar-islands,2018,1,District,South Andaman,5846
1,andaman-&-nicobar-islands,2018,1,District,North And Middle Andaman,632
2,andaman-&-nicobar-islands,2018,1,District,Nicobars,262
3,andaman-&-nicobar-islands,2018,1,Pincode,744103,1608
4,andaman-&-nicobar-islands,2018,1,Pincode,744101,1108
...,...,...,...,...,...,...
18291,west-bengal,2024,4,Pincode,733134,169596
18292,west-bengal,2024,4,Pincode,700059,169448
18293,west-bengal,2024,4,Pincode,711302,146034
18294,west-bengal,2024,4,Pincode,700150,142151
18295,west-bengal,2024,4,Pincode,711106,142077

In [61]:
path="C:/Ganapathy/Capstone-Project/data/data/top/transaction/country/india/state"
Top_trans_list= os.listdir(path)
Top_trans_list

['andaman-&-nicobar-islands',
 'andhra-pradesh',
 'arunachal-pradesh',
 'assam',
 'bihar',
 'chandigarh',
 'chhattisgarh',
 'dadra-&-nagar-haveli-&-daman-&-diu',
 'delhi',
 'goa',
 'gujarat',
 'haryana',
 'himachal-pradesh',
 'jammu-&-kashmir',
 'jharkhand',
 'karnataka',
 'kerala',
 'ladakh',
 'lakshadweep',
 'madhya-pradesh',
 'maharashtra',
 'manipur',
 'meghalaya',
 'mizoram',
 'nagaland',
 'odisha',
 'puducherry',
 'punjab',
 'rajasthan',
 'sikkim',
 'tamil-nadu',
 'telangana',
 'tripura',
 'uttar-pradesh',
 'uttarakhand',
 'west-bengal']

In [62]:
clm = {
    'State': [],
    'Year': [],
    'Quarter': [],
    'Level': [],          # 'State', 'District', or 'Pincode'
    'Entity_Name': [],    # Name of state/district/pincode
    'Transaction_type': [],
    'Transaction_count': [],
    'Transaction_amount': []
}

for i in Top_trans_list:
    p_i = os.path.join(path, i) + "/"
    Top_yr = os.listdir(p_i)
    for j in Top_yr:
        p_j = p_i + j + "/"
        Top_yr_list = os.listdir(p_j)
        for k in Top_yr_list:
            p_k = p_j + k
            with open(p_k, 'r') as d:
                Data = json.load(d)
                for level in ['states', 'districts', 'pincodes']:
                    entries = Data['data'].get(level, [])
                    if entries is not None:
                        for entry in entries:
                            metric = entry.get('metric', {})
                            clm['Level'].append(level[:-1].title())  # State, District, Pincode
                            entity_name = entry.get('entityName', '')
                            if entity_name is not None:
                                clm['Entity_Name'].append(str(entity_name).title())
                            else:
                                clm['Entity_Name'].append('')
                            clm['Transaction_type'].append(metric.get('type', ''))
                            clm['Transaction_count'].append(metric.get('count', 0))
                            clm['Transaction_amount'].append(metric.get('amount', 0))
                            clm['State'].append(i)
                            clm['Year'].append(j)
                            clm['Quarter'].append(int(k.strip('.json')))

Top_Trans_df = pd.DataFrame(clm)
Top_Trans_df

,State,Year,Quarter,Level,Entity_Name,Transaction_type,Transaction_count,Transaction_amount
0,andaman-&-nicobar-islands,2018,1,District,South Andaman,TOTAL,5688,1.256025e+07
1,andaman-&-nicobar-islands,2018,1,District,Nicobars,TOTAL,528,1.139849e+06
2,andaman-&-nicobar-islands,2018,1,District,North And Middle Andaman,TOTAL,442,9.316631e+05
3,andaman-&-nicobar-islands,2018,1,Pincode,744101,TOTAL,1622,2.769298e+06
4,andaman-&-nicobar-islands,2018,1,Pincode,744103,TOTAL,1223,2.238042e+06
...,...,...,...,...,...,...,...,...
18290,west-bengal,2024,4,Pincode,711101,TOTAL,6753348,1.049483e+10
18291,west-bengal,2024,4,Pincode,700059,TOTAL,6662715,8.009476e+09
18292,west-bengal,2024,4,Pincode,700039,TOTAL,6575693,9.018748e+09
18293,west-bengal,2024,4,Pincode,734001,TOTAL,6432082,8.996529e+09
18294,west-bengal,2024,4,Pincode,733134,TOTAL,6313560,1.050259e+10

In [63]:
path="C:/Ganapathy/Capstone-Project/data/data/top/insurance/country/india/state"
Top_ins_list= os.listdir(path)
Top_ins_list

['andaman-&-nicobar-islands',
 'andhra-pradesh',
 'arunachal-pradesh',
 'assam',
 'bihar',
 'chandigarh',
 'chhattisgarh',
 'dadra-&-nagar-haveli-&-daman-&-diu',
 'delhi',
 'goa',
 'gujarat',
 'haryana',
 'himachal-pradesh',
 'jammu-&-kashmir',
 'jharkhand',
 'karnataka',
 'kerala',
 'ladakh',
 'lakshadweep',
 'madhya-pradesh',
 'maharashtra',
 'manipur',
 'meghalaya',
 'mizoram',
 'nagaland',
 'odisha',
 'puducherry',
 'punjab',
 'rajasthan',
 'sikkim',
 'tamil-nadu',
 'telangana',
 'tripura',
 'uttar-pradesh',
 'uttarakhand',
 'west-bengal']

In [64]:
clm = {
    'State': [],
    'Year': [],
    'Quarter': [],
    'Level': [],           # 'State', 'District', or 'Pincode'
    'Entity_Name': [],     # Name of state/district/pincode
    'Insurance_type': [],  # Usually 'TOTAL' based on your data
    'Insurance_count': [], 
    'Insurance_amount': []
}

for i in Top_ins_list:  # Use the correct insurance directory list
    p_i = os.path.join(path, i) + "/"
    Top_yr = os.listdir(p_i)
    for j in Top_yr:
        p_j = p_i + j + "/"
        Top_yr_list = os.listdir(p_j)
        for k in Top_yr_list:
            p_k = p_j + k
            with open(p_k, 'r') as d:
                Data = json.load(d)
                for level in ['states', 'districts', 'pincodes']:
                    entries = Data['data'].get(level, [])
                    if entries is not None:
                        for entry in entries:
                            metric = entry.get('metric', {})
                            clm['Level'].append(level[:-1].title())  # State, District, Pincode
                            entity_name = entry.get('entityName', '')
                            if entity_name is not None:
                                clm['Entity_Name'].append(str(entity_name).title())
                            else:
                                clm['Entity_Name'].append('')
                            clm['Insurance_type'].append(metric.get('type', ''))
                            clm['Insurance_count'].append(metric.get('count', 0))
                            clm['Insurance_amount'].append(metric.get('amount', 0))
                            clm['State'].append(i)
                            clm['Year'].append(j)
                            clm['Quarter'].append(int(k.strip('.json')))

Top_Insurance_df = pd.DataFrame(clm)
Top_Insurance_df

,State,Year,Quarter,Level,Entity_Name,Insurance_type,Insurance_count,Insurance_amount
0,andaman-&-nicobar-islands,2020,2,District,Nicobars,TOTAL,3,565.0
1,andaman-&-nicobar-islands,2020,2,District,South Andaman,TOTAL,3,795.0
2,andaman-&-nicobar-islands,2020,2,Pincode,744301,TOTAL,3,565.0
3,andaman-&-nicobar-islands,2020,2,Pincode,744104,TOTAL,2,513.0
4,andaman-&-nicobar-islands,2020,2,Pincode,744101,TOTAL,1,282.0
...,...,...,...,...,...,...,...,...
12271,west-bengal,2024,4,Pincode,711101,TOTAL,713,750354.0
12272,west-bengal,2024,4,Pincode,700091,TOTAL,642,969634.0
12273,west-bengal,2024,4,Pincode,700150,TOTAL,627,761501.0
12274,west-bengal,2024,4,Pincode,700039,TOTAL,619,787836.0
12275,west-bengal,2024,4,Pincode,700156,TOTAL,574,888613.0

In [75]:
pip install pymysql

Requirement already satisfied: pymysql in c:\users\karthikeyan\appdata\local\programs\python\python313\lib\site-packages (1.1.1)
Note: you may need to restart the kernel to use updated packages.

In [65]:
pip install SQLAlchemy PyMySQL

Requirement already satisfied: SQLAlchemy in c:\users\karthikeyan\appdata\local\programs\python\python313\lib\site-packages (2.0.43)
Requirement already satisfied: PyMySQL in c:\users\karthikeyan\appdata\local\programs\python\python313\lib\site-packages (1.1.1)
Requirement already satisfied: greenlet>=1 in c:\users\karthikeyan\appdata\local\programs\python\python313\lib\site-packages (from SQLAlchemy) (3.2.4)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\karthikeyan\appdata\local\programs\python\python313\lib\site-packages (from SQLAlchemy) (4.14.1)
Note: you may need to restart the kernel to use updated packages.

In [66]:
from sqlalchemy import create_engine

In [67]:
engine = create_engine("mysql+pymysql://root:Vinayak12345@localhost:3306/phonepe")

In [68]:
!pip install cryptography

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: cryptography in c:\users\karthikeyan\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (45.0.6)
Requirement already satisfied: cffi>=1.14 in c:\users\karthikeyan\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from cryptography) (1.17.1)
Requirement already satisfied: pycparser in c:\users\karthikeyan\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from cffi>=1.14->cryptography) (2.22)

[notice] A new release of pip is available: 25.0.1 -> 25.2
[notice] To update, run: C:\Users\Karthikeyan\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [69]:
# Create the table if it does not exist, or replace it if it does
Agg_Trans.to_sql(name='agg_trans', con=engine, if_exists='append', index=False)

5034

In [70]:
User_Device_df.to_sql(name='User_Device_df', con=engine, if_exists='append', index=False)

C:\Users\Karthikeyan\AppData\Local\Temp\ipykernel_21188\3403129913.py:1: UserWarning:

The provided table name 'User_Device_df' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.

6732

In [71]:
Transaction_df.to_sql(name='Transaction_df', con=engine, if_exists='append', index=False)

C:\Users\Karthikeyan\AppData\Local\Temp\ipykernel_21188\885382035.py:1: UserWarning:

The provided table name 'Transaction_df' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.

682

In [72]:
State_Transactions_df.to_sql(name='State_Transactions_df', con=engine, if_exists='append', index=False)

C:\Users\Karthikeyan\AppData\Local\Temp\ipykernel_21188\1278373825.py:1: UserWarning:

The provided table name 'State_Transactions_df' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.

20604

In [73]:
Hover_User_df.to_sql(name='Hover_User_df', con=engine, if_exists='append', index=False)

C:\Users\Karthikeyan\AppData\Local\Temp\ipykernel_21188\2435105426.py:1: UserWarning:

The provided table name 'Hover_User_df' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.

20608

In [74]:
Insurance_Transactions_df.to_sql(name='Insurance_Transactions_df', con=engine, if_exists='append', index=False)

C:\Users\Karthikeyan\AppData\Local\Temp\ipykernel_21188\292300590.py:1: UserWarning:

The provided table name 'Insurance_Transactions_df' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.

13876

In [76]:
Top_User_df.to_sql(name='Top_User_df', con=engine, if_exists='append', index=False)

C:\Users\Karthikeyan\AppData\Local\Temp\ipykernel_21188\560462696.py:1: UserWarning:

The provided table name 'Top_User_df' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.

18296

In [77]:
Top_Trans_df.to_sql(name='Top_Trans_df', con=engine, if_exists='append', index=False)

C:\Users\Karthikeyan\AppData\Local\Temp\ipykernel_21188\1923715414.py:1: UserWarning:

The provided table name 'Top_Trans_df' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.

18295

In [78]:
Top_Insurance_df.to_sql(name='Top_Insurance_df', con=engine, if_exists='append', index=False)

C:\Users\Karthikeyan\AppData\Local\Temp\ipykernel_21188\2761871301.py:1: UserWarning:

The provided table name 'Top_Insurance_df' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.

12276

In [79]:
%pip install streamlit

import streamlit as st

Requirement already satisfied: streamlit in c:\users\karthikeyan\appdata\local\programs\python\python313\lib\site-packages (1.48.1)
Requirement already satisfied: altair!=5.4.0,!=5.4.1,<6,>=4.0 in c:\users\karthikeyan\appdata\local\programs\python\python313\lib\site-packages (from streamlit) (5.5.0)
Requirement already satisfied: blinker<2,>=1.5.0 in c:\users\karthikeyan\appdata\local\programs\python\python313\lib\site-packages (from streamlit) (1.9.0)
Requirement already satisfied: cachetools<7,>=4.0 in c:\users\karthikeyan\appdata\local\programs\python\python313\lib\site-packages (from streamlit) (6.1.0)
Requirement already satisfied: click<9,>=7.0 in c:\users\karthikeyan\appdata\local\programs\python\python313\lib\site-packages (from streamlit) (8.2.1)
Requirement already satisfied: numpy<3,>=1.23 in c:\users\karthikeyan\appdata\local\programs\python\python313\lib\site-packages (from streamlit) (2.3.2)
Requirement already satisfied: packaging<26,>=20 in c:\users\karthikeyan\appdata\roaming\python\python313\site-packages (from streamlit) (25.0)
Requirement already satisfied: pandas<3,>=1.4.0 in c:\users\karthikeyan\appdata\local\programs\python\python313\lib\site-packages (from streamlit) (2.3.2)
Requirement already satisfied: pillow<12,>=7.1.0 in c:\users\karthikeyan\appdata\local\programs\python\python313\lib\site-packages (from streamlit) (11.3.0)
Requirement already satisfied: protobuf<7,>=3.20 in c:\users\karthikeyan\appdata\local\programs\python\python313\lib\site-packages (from streamlit) (6.32.0)
Requirement already satisfied: pyarrow>=7.0 in c:\users\karthikeyan\appdata\local\programs\python\python313\lib\site-packages (from streamlit) (21.0.0)
Requirement already satisfied: requests<3,>=2.27 in c:\users\karthikeyan\appdata\local\programs\python\python313\lib\site-packages (from streamlit) (2.32.5)
Requirement already satisfied: tenacity<10,>=8.1.0 in c:\users\karthikeyan\appdata\local\programs\python\python313\lib\site-packages (from streamlit) (9.1.2)
Requirement already satisfied: toml<2,>=0.10.1 in c:\users\karthikeyan\appdata\local\programs\python\python313\lib\site-packages (from streamlit) (0.10.2)
Requirement already satisfied: typing-extensions<5,>=4.4.0 in c:\users\karthikeyan\appdata\local\programs\python\python313\lib\site-packages (from streamlit) (4.14.1)
Requirement already satisfied: watchdog<7,>=2.1.5 in c:\users\karthikeyan\appdata\local\programs\python\python313\lib\site-packages (from streamlit) (6.0.0)
Requirement already satisfied: gitpython!=3.1.19,<4,>=3.0.7 in c:\users\karthikeyan\appdata\local\programs\python\python313\lib\site-packages (from streamlit) (3.1.45)
Requirement already satisfied: pydeck<1,>=0.8.0b4 in c:\users\karthikeyan\appdata\local\programs\python\python313\lib\site-packages (from streamlit) (0.9.1)
Requirement already satisfied: tornado!=6.5.0,<7,>=6.0.3 in c:\users\karthikeyan\appdata\roaming\python\python313\site-packages (from streamlit) (6.5.2)
Requirement already satisfied: jinja2 in c:\users\karthikeyan\appdata\local\programs\python\python313\lib\site-packages (from altair!=5.4.0,!=5.4.1,<6,>=4.0->streamlit) (3.1.6)
Requirement already satisfied: jsonschema>=3.0 in c:\users\karthikeyan\appdata\local\programs\python\python313\lib\site-packages (from altair!=5.4.0,!=5.4.1,<6,>=4.0->streamlit) (4.25.1)
Requirement already satisfied: narwhals>=1.14.2 in c:\users\karthikeyan\appdata\local\programs\python\python313\lib\site-packages (from altair!=5.4.0,!=5.4.1,<6,>=4.0->streamlit) (2.1.2)
Requirement already satisfied: colorama in c:\users\karthikeyan\appdata\roaming\python\python313\site-packages (from click<9,>=7.0->streamlit) (0.4.6)
Requirement already satisfied: gitdb<5,>=4.0.1 in c:\users\karthikeyan\appdata\local\programs\python\python313\lib\site-packages (from gitpython!=3.1.19,<4,>=3.0.7->streamlit) (4.0.12)
Requirement already satisfied: smmap<6,>=3.0.1 in c:\users\karthikeyan\appdata\local\programs\python\python313\lib\site-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.19,<4,>=3.0.7->streamlit) (5.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\karthikeyan\appdata\roaming\python\python313\site-packages (from pandas<3,>=1.4.0->streamlit) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\karthikeyan\appdata\local\programs\python\python313\lib\site-packages (from pandas<3,>=1.4.0->streamlit) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\karthikeyan\appdata\local\programs\python\python313\lib\site-packages (from pandas<3,>=1.4.0->streamlit) (2025.2)
Requirement already satisfied: charset_normalizer<4,>=2 in c:\users\karthikeyan\appdata\local\programs\python\python313\lib\site-packages (from requests<3,>=2.27->streamlit) (3.4.3)
Requirement already satisfied: idna<4,>=2.5 in c:\users\karthikeyan\appdata\local\programs\python\python313\lib\site-packages (from requests<3,>=2.27->streamlit) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\karthikeyan\appdata\local\programs\python\python313\lib\site-packages (from requests<3,>=2.27->streamlit) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\karthikeyan\appdata\local\programs\python\python313\lib\site-packages (from requests<3,>=2.27->streamlit) (2025.8.3)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\karthikeyan\appdata\local\programs\python\python313\lib\site-packages (from jinja2->altair!=5.4.0,!=5.4.1,<6,>=4.0->streamlit) (3.0.2)
Requirement already satisfied: attrs>=22.2.0 in c:\users\karthikeyan\appdata\local\programs\python\python313\lib\site-packages (from jsonschema>=3.0->altair!=5.4.0,!=5.4.1,<6,>=4.0->streamlit) (25.3.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in c:\users\karthikeyan\appdata\local\programs\python\python313\lib\site-packages (from jsonschema>=3.0->altair!=5.4.0,!=5.4.1,<6,>=4.0->streamlit) (2025.4.1)
Requirement already satisfied: referencing>=0.28.4 in c:\users\karthikeyan\appdata\local\programs\python\python313\lib\site-packages (from jsonschema>=3.0->altair!=5.4.0,!=5.4.1,<6,>=4.0->streamlit) (0.36.2)
Requirement already satisfied: rpds-py>=0.7.1 in c:\users\karthikeyan\appdata\local\programs\python\python313\lib\site-packages (from jsonschema>=3.0->altair!=5.4.0,!=5.4.1,<6,>=4.0->streamlit) (0.27.0)
Requirement already satisfied: six>=1.5 in c:\users\karthikeyan\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas<3,>=1.4.0->streamlit) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
%pip install nbformat>=4.2.0
%pip install plotly

import nbformat
import pandas as pd
import plotly.express as px
import requests

# Load the GeoJSON for Indian states
geojson_url = "https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson"
india_states_geojson = requests.get(geojson_url).json()

# Ensure Top_User_df is defined before proceeding
if 'Top_User_df' not in globals():
    raise NameError("Top_User_df is not defined. Please run the cell that creates Top_User_df before running this cell.")

# Group by state and sum registered users (latest or total)
state_user_summary = Top_User_df.groupby("State")["Registered_Users"].sum().reset_index()

# Fix inconsistent naming for better GeoJSON matching
state_user_summary["State"] = state_user_summary["State"].str.title()

# Preview the data (optional)
print(state_user_summary.head())

# Plotting the choropleth map
fig = px.choropleth(
    state_user_summary,
    geojson=india_states_geojson,
    featureidkey="properties.ST_NM",
    locations="State",
    color="Registered_Users",
    color_continuous_scale="Blues",
    title="Total Registered Users by State - PhonePe Pulse"
)

fig.update_geos(fitbounds="locations", visible=False)
fig.update_layout(margin={"r":0,"t":50,"l":0,"b":0})
fig.show()